@model List<Teacher>
<a class="nav-link text-dark" asp-area="" asp-controller="TeacherController1" asp-action="Create">Add Teacher</a>
<br />
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
        color: black;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    tr:hover {
        background-color: #ddd;
    }

    td {
        font-family: Arial, sans-serif;
        font-size: 14px;
    }
</style>

<table>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Delete</th>
    </tr>

    @foreach (Teacher teacher in Model)
    {
        <tr>
            <td>@teacher.TeacherName</td>
            <td>@teacher.TeacherAge</td>
            <td> <a href="/TeacherController1/Delete/@teacher.TeacherId"> Delete @teacher.TeacherName</a></td>
        </tr>
    }
</table>
