
<div class="container">
    <form action="Create" method="post">
        <div class="row">
            <div class="col-md-6">
                <label for="name">Room Name:</label>
                <input type="text" id="name" name="RoomName" class="form-control" placeholder="Enter room name.." />
            </div>
          
        </div>

     

        <div class="row mt-3">
            <div class="col-md-6">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
